.graphPannel {
  display: none;
  width: 1000px;
  min-width: 700px;
  min-height: 300px;
  margin: 0px auto;
  vertical-align: bottom;
  transition: all 1s ease;
}

.backwardArrow img {
  display: inline-block;
  position: absolute;
  top: 7%;
  left: 15%;
  width: 150px;
  height: 150px;
  transition: all 1s ease;
  cursor: pointer;
}

.graphPannel--buffer {
  height: 30%;
}

.backwardArrow {
  display: none;
}

.leftArrow {
  transition: all 1s ease;
}