.numberOuter {
  position: absolute;
  height: 300px;
  width: 50px;
  transition: all 1s ease;
}

.numberInner {
  font-size: 20px;
  color: white;
  background-color: red;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}