section.visual-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  width: 100vw;
  text-align: center;
  overflow: hidden;

  .visual-algo {
    padding-top: 30px;

    svg {
      text {
        font: 20px sans-serif;
        text-anchor: middle;
      }
    }
  }
}
