.sort-list-bubble {
  align-items: flex-end;
}

.sort-element {
  text-align: center;
  transition: all 0.5s ease-in-out;
}

.sort-element .sort-bar {
  margin-bottom: 10px;
  width: 50px;
  background-color: #f5d042;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.1);
}

.sort-element .comparing {
  background-color: #e84118 !important;
}

.sort-element .done {
  background-color: #3742fa !important;
}
