html, body {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.content {
  margin: 100px auto;
  text-align: center;
  color: #4A6FC3;
  font-family: 'Times New Roman', Times, serif;
}

.input-container {
  display: flex;
  margin: 10px auto;
  justify-content: center;
  align-items: flex-end;
}

input[id="menu-icon"] {
  display: none;
}

.menu-button {
  display: inline-block;
  position: relative;
  width: 50px;
  height: 40px;
  margin: 0 20px;
  cursor: pointer;
}

.menu-button span {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 30px;
  background-color: #4A6FC3;
  transition: all .35s;
}

.menu-button span:nth-child(1) {
  top: 0;
}

.menu-button span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.menu-button span:nth-child(3) {
  bottom: 0;
}

input[id="menu-icon"]:checked ~ .input-container .menu-button span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

input[id="menu-icon"]:checked ~ .input-container .menu-button span:nth-child(2) {
  opacity: 0;
}

input[id="menu-icon"]:checked ~ .input-container .menu-button span:nth-child(3) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg)
}

.input-container form {
  display: inline;
}

.input-container form > .input-box {
  width: 300px;
  height: 50px;
  margin: 0 20px;
  border: none;
  border-bottom: 2px solid #4A6FC3;
  color: inherit;
  font-size: 20px;
  font-family: inherit;
  text-align: center;
  outline: none;
}

.input-container button {
  width: 100px;
  height: 50px;
  margin: 0 20px;
  border: 2px solid #4A6FC3;
  border-radius: 10px;
  background-color: white;
  color: #4A6FC3;
  font-size: 15px;
  transition-duration: 0.4s;
}

.input-container button:hover {
  background-color: #4A6FC3;
  color: white;
}

.message-container {
  display: flex;
  height: 25px;
  justify-content: center;
  align-items: flex-end;
}

.message-container .motion-container {
  overflow: hidden;
  position: relative;
  width: 20px;
  height: 25px;
  text-align: initial;
}

.message-container .motion-container .motion {
  position: absolute;
  left: 0;
  width: 100%;
  white-space: nowrap;
  animation-name: running;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.graph-container {
  overflow: hidden;
  position: relative;
  width: 800px;
  height: 500px;
  padding: 1%;
  margin: 10px auto;
  border: 2px solid #4A6FC3;
  border-radius: 10px;
  text-align: initial;
}

.menu-options {
  display: inline-block;
  position: absolute;
  left: -20%;
  width: 120px;
  height: 50px;
  border: inherit;
  border-radius: inherit;
  transition: all 0.35s;
}

.menu-options label {
  cursor: pointer;
}

input[id="menu-icon"]:checked ~ .graph-container .menu-options {
  left: 2%;
}

.graph-container .graphs {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.graph-container .graphs span {
  display: inline-block;
  position: relative;
  width: 20px;
  margin: 5px;
  border: 2px solid #4A6FC3;
  border-radius: 10px;
  background-color: white;
  align-self: flex-end;
  transition: all 0.5s;
}

.graph-container .graphs .target {
  z-index: 1;
  background-color: #4A6FC3;
}

.fixed {
  border-width: 4px !important;
  background-color: white;
  opacity: 0.8;
  pointer-events: none;
}

.pivot {
  border-radius: inherit;
  background: linear-gradient(to top, #00c3ff 0%, #ffff1c 100%);
}

@keyframes running {
  0% { left: 0; }
  100% { left: -100%; }
}

@keyframes jumping {
  from {}
  20% {}
  40% {}
  60% {}
  80% {}
  to {}
}