@import (css) url('https://fonts.googleapis.com/css2?family=Changa:wght@300&display=swap');
@import (css) url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

html, body {
  box-sizing: border-box;
  background-color: #004B87;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  color: #FFCD00;
  font-family: 'Changa', sans-serif;
}

p {
  margin: auto;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 800;
}

img {
  margin-top: 5px;
}

.none {
  display: none;
}

.flex-container {
  display: flex;
  justify-content: center;
  overflow: auto;
}

.flex-item {
  display: inline-block;
  align-self: bottom;
}

.margin {
  margin: 15px;
}

#input-box {
  height: 50px;
  width: 260px;
  border-radius: 5px;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 600;
}

.set-placeholder {

}

.set-placeholder::placeholder {
  color: red;
  font-weight: 800;
}

button {
  font-weight: 800;
  font-family: 'Changa', sans-serif;
  border-radius: 5px;
  background:#FFCD00;
  height: 50px;
  font-size: 1.3em;
  padding:0 1.3em;
  border: none;
  cursor:pointer;
}

.select-algo-btn {
  height:60px;
  font-size:1.6em;
  padding:0 2em;
}

.sorting-window {
  align-items: flex-end;
  width: 800px;
  height: 500px;
  margin: auto;
  border: solid;
  border-radius: 10px;
  border-color: #FFCD00;
}

.sort-list {
  position: relative;
  height: 150px;
  width: 40px;
  left: auto;
  margin: 0px 15px;
  font-weight: 800;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
  background-color: #FFCD00;
}

.quick-group {
  background-color: #0fbcf9;
}

.sorted {
  background-color: #20bf6b;
}

.selected {
  background-color:  #ff5e57;
}

#errorMsg {
  height: 10px;
  color: red;
  font-size: 20px;
  vertical-align: center;
}

.move-right {
  transition: all 0.5s;
  transform: translateX(70px);
}

.move-left {
  transition: all 0.5s;
  transform: translateX(-70px);
}

.move-quick {
  transition: all 0.3s;
}
