.mario {
  position: absolute;
  width: 71px;
  height: 72px;
  background: url('https://raw.githubusercontent.com/LantareCode/random-this-and-thats/master/CSS/SuperMario-Animation/images/mariowalking/result.png');    
  left: 10px;
  bottom: 10%;
  animation: play 0.8s steps(4) infinite, 7s both infinite linear;
  animation: play 0.8s steps(4) infinite, run 7s both infinite linear;
  z-index: 1;
}

@keyframes play {
  100% { background-position: -284px; }
}

@keyframes run {
  from { left: -200px;}
  to { left: 100%;}
}

.pipe {
  background : url(../images/green-pipe.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 200px;
  width: 50px;
  margin-left: 100px;
}

.ground { 
  position: relative;
  height: 100%;
  background-color: #C84C0C; 
  background-image: url('https://raw.githubusercontent.com/LantareCode/random-this-and-thats/master/CSS/SuperMario-Animation/images/groundblock.png');     
}

.top-right-blocks {
  position: absolute;
  right: 0;
}

.brick {
  position: relative;        
  margin: -3px;
}

.princess-container {
  display: flex;
  justify-content: center;
}

.pipe {
  position: relative;
  width: 50px;
  background:#74bf2e;
  border:1px solid #502946;
  border-bottom: unset;
  z-index:1;
  box-shadow:inset 3px 0px 2px #9AE75B ,
             inset 5px 0px 1px #F3FC85 ,
             inset 8px 0px 2px #9AE75B ,
             inset 9px 0px 2px #71BC2B ,
             inset 11px 0px 2px #9AE75B,
    /*--------------------------------------*/
             inset -4px 0px 1px #538127 ,
             inset -6px 0px 1px #78C32A ,
             inset -8px 0px 1px #4D7E22 ;
  margin-top:auto;
}

.pipe:after {
  width:72px;
  height:40px;
  content:'';
  background: #74bf2e;
  position: absolute;
  margin: -10px 0px 0px -11px;
  box-shadow:inset 3px 0px 2px #9AE75B ,
             inset 5px 0px 1px #F3FC85 ,
             inset 8px 0px 2px #9AE75B ,
             inset 9px 0px 2px #71BC2B ,
             inset 11px 0px 2px #9AE75B ,
    /*--------------------------------------*/
             inset -4px 0px 1px #538127 ,
             inset -6px 0px 1px #78C32A ,
             inset -8px 0px 1px #4D7E22 ;
  border:1px solid #502946;
}

.clouds-background {
  position: absolute;
  background-repeat: no-repeat;
  background-size: 110vh;
  background-position-x: 30vh;
  background-position-y: 20vh;
  z-index: 0;
  // animation: wind 8s both infinite linear;
}

@keyframes wind{
  from { left: -300px; }
  to { left: 100%; }
}

.bush{
  position: absolute;
  left: 100px;
  bottom: 100px;
  z-index: 0;
}

.bush:nth-child(1){
  left: -350px;   
}

.bush:nth-child(2){
  left: 900px;;   
}

.bush:nth-child(3){
  left: 1500px;;   
}

.clouds-background {
  position: relative;
}

.cloud {
  position: absolute;
  height: 100px;
}

.cloud:nth-child(2){
  top: 200px; 
  animation: wind 30s both infinite linear reverse;
}

.cloud:nth-child(3){
  top: 30px;
  animation: wind 80s both infinite linear reverse;
}

.cloud:nth-child(1){
  top: 490px;
  animation: wind 50s both infinite linear reverse;
}

@keyframes wind{
  from { left: -300px; }
  to { left: 100%; }
}
