.numberOuter {
  position: relative;
  width: 50px;
  transition: all 3s ease;
}

.numberInner {
  position: absolute;
  vertical-align: bottom;
  color: white;
  background-color: red;
  top: 150px;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}