@import './color-variables.less';

.dark {
  background-color: @dark-background-color;
  color: white;

  header {
    color: @dark-hilight-color;
  }

  section.sort-btns {
    button {
      color: rgba(109, 204, 46, 0.8);
      box-shadow: rgba(82, 151, 36, 0.4) 0 0px 0px 2px inset;

      &:hover {
        color: rgba(255, 255, 255, 0.85);
        box-shadow: rgba(82, 151, 36, 0.7) 0 0px 0px 40px inset;
      }
    }

    button.selected {
      color: rgba(255, 255, 255, 0.85);
      box-shadow: rgba(82, 151, 36, 0.7) 0 0px 0px 40px inset;
    }
  }

  section.visual-wrapper {
    .visual-algo {
      background-color: @dark-main-section-background-color;
    }
  }


  footer {
    background-color: @dark-footer-background-color;
  }
}
